* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding: 0 2%;
  margin: 0;
}

.inventorymenu  {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: flex-start;
  align-items: space-around;
  align-content: flex-end;
  overflow: hidden;
  font-size: 13px;
  width: 100%;
}

.inventorymenu > * {
  padding: 0 5% 0 0;
}

ol {
  padding: 0;
  margin: 0;
}

.container {
  height: 667px;
  width: 375px;
  padding: 10px;
  background-color: skyblue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
}

.fight {
  width: 100%;
  height: 15%;
  margin: auto;
  position: relative;
  display: flex;
  border: 1px solid black;
  flex-flow: column wrap;
  align-items: center;
  align-content: space-evenly;
}

.fight button {
  height: 50%;
  width: 25%;
}

.hpcontainer {
  width: 40%;
  height: 15%;
  border: 1px solid black;
  background: darkgray;
  display: flex;
  justify-content: flex start;
  align-items: center;
  position: relative;
}

.herohpbar {
  background: red;
  height: 100%;
  margin: 0;
  border: 1px solid red;
}

.herohp {
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.heroxpbar {
  background: rgb(255, 174, 0);
  height: 100%;
  margin: 0;
  border: 1px solid rgb(255, 174, 0);
}

.heroxp {
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 10px;
}


.monsterhpbar {
  background: red;
  height: 100%;
  margin: 0;
  border: 1px solid red;
}

.monsterhp {
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.monsterxp {
  width: 40%;
  height: 15%;
  border: 1px solid black;
  background: darkgray;
  display: flex;
  justify-content: flex start;
  align-items: center;
  position: relative;
  opacity: 0;
  }

.menubtns {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1%;
  margin: auto 0 0 0;
}

.menubar {
  height: 20%;
  display: flex;
  flex-flow: column nowrap;
}
.log {
  width: 100%;
  height: 48%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 1%;
  margin: auto 0 0 0;
  overflow: hidden;
  text-align: center;
}

.logitem {
  font-size: 14px;
}

.monstermenu {
  height: 300%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: -50%;
  background: lightgreen;
  border: 1px solid black;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.closemenu {
  height: 6vh;
  width: 10vh;
}

.monsterbtns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
  padding-top: 5%;
}

.monsterbtns button {
  height: 50px;
  width: 75px;
}

.equipmentmenu {
  height: 500%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: -50%;
  background: lightgreen;
  border: 1px solid black;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.equipbtns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  align-content: space-evenly;
  padding-bottom: 10%;
  padding-top: 5%;
}

.equipbtns button {
  height: 8vh;
  width: 8vh;
}

.equipttbtns {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.equipttbtns button {
  margin-top: 5%;
  height: 8vh;
  width: 10vh;
}

.equipTT {
  height: 500%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: -50%;
  background: lightgreen;
  border: 1px solid black;
  z-index: 3;
  padding-top: 5%;
}

.herodead {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.5);
  z-index: 1;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  padding: 10% 0;
}