* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  height: 667px;
  width: 375px;
  padding: 10px;
  background-color: skyblue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8vh;
}

.fight {
  width: 100%;
  height: 15%;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
  flex-flow: column wrap;
  align-items: center;
  align-content: space-evenly;
}

.fight button {
  height: 50%;
  width: 25%;
}

.hpcontainer {
  width: 40%;
  height: 10%;
  border: 1px solid black;
  background: lightgray;
  display: flex;
  justify-content: flex start;
  align-items: center;
}

.herohpbar {
  background: red;
  height: 100%;
  margin: 0;
  border: 1px solid red;
}


.monsterhpbar {
  background: red;
  height: 100%;
  margin: 0;
  border: 1px solid red;
}

.menubar {
  justify-self: end;
  height: 10%;
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1%;
  margin: auto 0 0 0;
}

.monstermenu {
  height: 50%;
  width: 50%;
  position: fixed;
  left: 40%;
  top: 10%;
  background: lightgreen;
  border: 1px solid black;
}

.equipmentmenu {
  height: 50%;
  width: 50%;
  position: fixed;
  left: 40%;
  top: 10%;
  background: lightgreen;
  border: 1px solid black;
}

.equiptooltip {
  height: 50%;
  width: 50%;
  position: fixed;
  left: 40%;
  top: 10%;
  background: lightgreen;
  border: 1px solid black;
}